@import "MainPage";
@import "GroupPage";


.mainBlock {
  margin-top: 66px;
  display: grid;
  padding-left: 50px;
  padding-right: 50px;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  padding-bottom: 3rem;
}